os: osx
osx_image: xcode10.1

language: cpp

# cache V8 artifacts across stages
cache:
  # large cache requires large timeout for transfer
  timeout: 1800
  directories:
    - ./v8build

jobs:
  include:
    # separate fetching and building of V8 into multiple shared-cache stages to avoid hitting the 50 minute time limit
    - stage: fetch-v8
      script: ./.travis/fetch-v8.sh

    # build dependencies
    - stage: build-v8-stage-1
      script: ./.travis/build-v8.sh antlr4 icu inspector torque v8_libbase v8_libplatform v8_libsampler
    - stage: build-v8-stage-2
      script: ./.travis/build-v8.sh v8_base

    # finally build V8
    - stage: build-v8-stage-3
      script: ./.travis/build-v8.sh d8 v8

    # now build and deploy MultiChain
    - stage: build-multichain
      script:
        # install dependencies
        - brew install autoconf automake boost berkeley-db4 libtool openssl pkg-config python rename

        # it is insufficient to only install boost@1.57 in the first place
        # reinstallation is necessary for some reason
        - brew uninstall --ignore-dependencies boost
        - brew install boost@1.57
        - brew link boost@1.57 --force

        # hide dynamic libraries from the build system so we get a static build
        - rename -e 's/.dylib/.dylib.hidden/' /usr/local/opt/boost/lib/*.dylib
        - rename -e 's/.dylib/.dylib.hidden/' /usr/local/opt/berkeley-db@4/lib/*.dylib
        - rename -e 's/.dylib/.dylib.hidden/' /usr/local/opt/openssl/lib/*.dylib

        # reinstall python with OpenSSL
        - export CPPFLAGS=-I/usr/local/opt/openssl/include
        - export LDFLAGS=-L/usr/local/opt/openssl/lib
        - brew uninstall --ignore-dependencies python@2
        - brew install python@2

        # make V8 libraries available
        - pip install pathlib2
        - python ./depends/v8_data_lib.py --multichain $(pwd)

        # disable all warnings to reduce build verbosity
        - export CXXFLAGS=-w
        - ./autogen.sh
        - ./configure --with-gui=no --with-libs=no --with-miniupnpc=no --with-boost=/usr/local/opt/boost@1.57
        - make -j2

        # tiny test
        - ./src/multichain-util create test -datadir=/tmp

        # pack binaries
        - mkdir multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}
        - cp ./src/multichain-cli ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}
        - cp ./src/multichain-util ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}
        - cp ./src/multichaind ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}
        - cp ./src/multichaind-cold ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}
        - tar czf multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}.tar.gz ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}

        # this names the deployed tag
        - export TRAVIS_TAG=${TRAVIS_BRANCH}

      deploy:
        provider: releases
        api_key:
          secure: Qe0kpNVgcXzSjNyO+bQnUGfZc1cHrLrkavaIOttBfySvLECY4m8YN8pBMfqIpYZcvB5T91GgEIsnKrC0YtcXzJp+1QEHAMlYUmAwhBiQYWg0NBvSFD03VOQY6zF5ejlFOOGz9pgFyfnM92aFsN8XeHfo26/vC6rKVgr/ii7L2eqlvuKETscYROm/saQkrWxTKSoFhl81Ut3B2jfzMvGVbyZ1D+W2onhVlO2ALNNnlBwkEq934yQpR9FyMArbanxq39DyiLyMe1uxEq4mdnFovlnh0AXhgFPTa6EBhp52PH6Y/xsEmDg33blWCHlq+b1mImfWlbW7DGEv10LkN2l51d7baXb5h9G4xSqUJLrsG0eYSdabrohH/pU5R5tkcjug17/od8OleykjUyMu/FmVs3ndAZl9pnunDEKr1jyz1lB6QwM3wa1Aoj41C9piuI1ae90YsrFLRA1dzQ7MgpBVimAYAdTzxKhyb9UiEQZjzlvdiqbwSbNvY9h+0PB99NQwa2AiuedGKLFIyr6PF3CFiaP5KDOWby7KmNjX9PFPO5WgYTe67RSOwH0kPAMHFAnDx9eeroxE9wAJomwk8Y6x1BXlgFcfRmEnrilFLCm8EPyYcPqDz1X+kn/JcEaSW7n50TTZy6RoapSIst6zgMSLu0y1tPMMT06tlZpfcfiMcZo=
        file: ./multichain-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}.tar.gz
        skip_cleanup: true
        overwrite: true
        on:
          repo: paciofs/multichain
          branch: 2.0-dev
          tags: false
